.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:calc(100vh - 4rem);
}
@media (prefers-color-scheme: dark) {
  
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.logo {
  position: relative;
}
