.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: calc(100vh - 4rem);

  color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%),
      linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal,
      color-burn;
}
@media (prefers-color-scheme: dark) {
  
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
  
}
@media (max-width:600px) {
  .main{
    height:auto;
    
  }    
}
.logo {
  position: relative;
}
