.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
@media (prefers-color-scheme: dark) {
  
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
  
}
@media (min-width:600) {
  .main{
    height: 100vh;
  }
    
}
.logo {
  position: relative;
}
